@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
    font-size:5em;
font-style: normal;
margin-left: 20px;
}.flaticon-delivery25:before {
	content: "\e000";
	
}
.flaticon-location38:before {
	content: "\e001";
	
}
.flaticon-logistics2:before {
	content: "\e002";
	
}
.flaticon-money100:before {
	content: "\e003";
	
}
.flaticon-package36:before {
	content: "\e004";
	
}
.flaticon-smartphone88:before {
	content: "\e005";
	
}
